<div layout="column" layout-padding="">
    <span flex="20"></span>
    <md-content class="signup-form" layout="row" flex="35">
        <span flex="35"></span>
        <md-card flex="30">
            <md-card-content>
                <form name="SignUpForm">
                    <div layout-align="center center" layout="row">
                        <div class="image-upload">
                            <label for="file-upload">
                                <img src='profilbild_placeholder.jpg' width="100" height="100" id="profil_image"/>
                            </label>
                        </div>
                        <input class="signup" id="file-upload" name="photo" type="file" file-model="profileImage.photo" required/>
                    </div>
                    <div>
                        <p id="picture-error-message" class="validation-message" style="margin: 20px;">A profile picture is required.</p>
                    </div>
                    <md-input-container class="md-block">
                        <label>First Name</label>
                        <input type="text" name="firstname" ng-model="$ctrl.signup.firstname" placeholder="Enter your first name" required/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input type="text" name="lastname" ng-model="$ctrl.signup.lastname" placeholder="Enter your last name" required/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email-Address</label>
                        <input type="email" name="email" ng-model="$ctrl.signup.email" placeholder="Enter your email-address" required/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" name="password" ng-model="$ctrl.signup.password" placeholder="password" required md-maxlength="64"/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="$ctrl.signup.description" md-maxlength="250" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                    <button ng-if="!SignUpForm.$valid" type = "submit" class="my-button">&nbsp Sign up &nbsp</button>
                    <button ng-if="SignUpForm.$valid && $ctrl.pictureUploaded()!=0" ng-click="$ctrl.submit()" class="my-button">&nbsp Sign up &nbsp</button>
                    <button ng-if="SignUpForm.$valid && $ctrl.pictureUploaded()==0" ng-click="$ctrl.pictureErrorMessage()" class="my-button">&nbsp Sign up &nbsp</button>
                </form>
            </md-card-content>
        </md-card>
        <span flex></span>
    </md-content>
    <span flex></span>
</div>
