#bg {
    position: fixed;
    z-index: -1;
}

body {
    background-color: transparent;
}

md-content {
    background-color: transparent;
}

.container {
    display: flex;           /* establish flex container */
    flex-direction: row;     /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.columnContainer {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center;
    align-items: center;
}

[class*="col-"] {
    float: left;
    padding: 1em;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.hero-box {
    background-color: white;
}

.my-pop-up div{
    margin: 1em;
}

.my-button {
    background-color: #0a7bff;
    color: white;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    padding: 10px;
}

.cancel-button {
    background-color: lightgrey;
    color: black;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    padding: 10px;
}

.cancel-button:hover {
    background-color: grey;
}

.sliderButtons {
    margin: 30px;
    display: flex;           /* establish flex container */
    flex-direction: row;     /* make main axis vertical */
    justify-content: space-around;
    align-items: center;     /* center items horizontally, in this case */
}

.sliderButton {
    font-weight: 900;
    font-size: 200%;
    color: white;
    background-color: #0a7bff;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    outline: none;
    width: 45%;
}

.my-button:hover,.sliderButton:hover {
    background-color: #0657b7;
}

.my-button:disabled {
    background-color: lightgrey;
    color: grey;
}


.validation-message {
    color: red;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.slight-indentation {
    margin-left : 3em;
}

md-input-container label {
    color: black;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: black;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #0a7bff;
}

ng-md-icon svg {
    fill: inherit;
}

md-input-container:not(.md-input-invalid) ng-md-icon {
   fill: #0a7bff;
}

md-input-container.md-input-invalid ng-md-icon {
    fill: red;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-datepicker-calendar-icon {
    color: #0a7bff;
}

.md-datepicker-calendar-icon {
    color: #0a7bff;
}


md-select:not([disabled]):focus .md-select-value{
    border-bottom-color: #0a7bff;
}

md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {
    color: black;
}


/*
md-select:focus .md-select-label {
    border-color: green;
}

md-input-container:not(.md-input-invalid).md-input-focused md-select {
    border-color: green;
}
*/