<div>
    <img class="tripsSlides shadow" src="Slider_1.png">
    <img class="tripsSlides shadow" src="Slider_2.png">
    <img class="tripsSlides shadow" src="Slider_3.png">
</div>
<div class="sliderButtons">
    <button class="sliderButton" ng-click="$ctrl.previousSlide()"><i class="fa fa-angle-left"></i></button>
    <button class="sliderButton" ng-click="$ctrl.nextSlide()"><i class="fa fa-angle-right"></i></button>
</div>

<md-card ng-style="{'background-color' : 'white'}">
    <md-card-content ng-style="{'text-align' : 'center'}">
        <div layout-gt-xs="row" id="search" ng-style="{'display': 'inline-block'}">
            <md-input-container placeholder="" flex="30">
                <label> </label>
                <input type="text" ng-model="$ctrl.search.location" places-auto-complete on-place-changed="$ctrl.placeChanged()" placeholder="Where?"/>
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="$ctrl.search.startdate" ng-change="$ctrl.change()" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <label> </label>
                <input type="text" ng-model="$ctrl.search.minPrice" placeholder="Price Min"/>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <label> </label>
                <input type="text" ng-model="$ctrl.search.maxPrice" placeholder="Price Max"/>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="15">
                <label> </label>
                <md-select id="date" name="type" ng-model="$ctrl.search.difficulty" placeholder="Difficulty" layout-align="center center">
                    <md-option value="grad1"><i class="fa fa-bolt"></i></md-option>
                    <md-option value="grad2"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                    <md-option value="grad3"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                    <md-option value="grad4"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                    <md-option value="grad5"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                </md-select>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="15">
                <label> </label>
                <md-select id="range" name="type" ng-model="$ctrl.search.distance" placeholder="Range" layout-align="center center">
                    <md-option value=10>10 km</md-option>
                    <md-option value=20>20 km</md-option>
                    <md-option value=50>50 km</md-option>
                    <md-option value=100>100 km</md-option>
                    <md-option value=200>200 km</md-option>
                </md-select>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <button class="my-button" layout-align="center center" ng-click="$ctrl.reset()">Reset</button>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>

<md-grid-list
            md-cols-gt-md="12" md-cols="3" md-cols-md="8"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="2px">
    <md-grid-tile ng-click="$ctrl.details(trip)" ng-repeat="trip in $ctrl.trips | filter:$ctrl.customFilter"
                      md-colspan-gt-sm="4"
                      md-rowspan-gt-sm="2">
        <div layout="column" layout-fill>
            <md-card class="shadow" ng-style="{'background-color':'#434343', 'color':'white'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" ng-style="{'margin-top':'-20px', 'font-weight' : 'bold' , 'font-size': '100%'}">{{trip.title}}</span>
                        <span class="md-subhead" ng-style="{'color':'white'}" ng-if="trip.difficulty == 'grad1'">Difficulty: <i class="fa fa-bolt"></i></span>
                        <span class="md-subhead" ng-style="{'color':'white'}" ng-if="trip.difficulty == 'grad2'">Difficulty: <i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></span>
                        <span class="md-subhead" ng-style="{'color':'white'}" ng-if="trip.difficulty == 'grad3'">Difficulty: <i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></span>
                        <span class="md-subhead" ng-style="{'color':'white'}" ng-if="trip.difficulty == 'grad4'">Difficulty: <i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></span>
                        <span class="md-subhead" ng-style="{'color':'white'}" ng-if="trip.difficulty == 'grad5'">Difficulty: <i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></span>
                    </md-card-title-text>
                    <md-card-title-media>
                        <div style="text-align: center">
                            <span>{{trip.date}}</span>
                            <img src="{{trip.path}}" class="md-media-md" >
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <p ng-style="{'margin-left':'150px','margin-top':'80px'}">{{trip.creator}}</p>
                    <p ng-style="{'margin-top':'-50px', 'font-size': '200%', 'font-weight': 'bold'}">{{trip.price}} €</p>
                </md-card-content>
            </md-card>
        </div>
    </md-grid-tile>
</md-grid-list>