
    <md-grid-list
            md-cols-gt-md="12" md-cols="3" md-cols-md="8"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="2px">

        <md-grid-tile ng-click="$ctrl.details(trip)" ng-repeat="trip in $ctrl.trips"
                      md-colspan-gt-sm="4"
                      md-rowspan-gt-sm="2"
        >
            <div layout="column" layout-fill>
                <md-card ng-style="{'background-color':'grey', 'color':'white'}">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{trip.title}}</span>
                            <span class="md-subhead" ng-style="{'color':'white'}">Difficulty: {{trip.difficulty}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div><img src="test.jpg" class="md-media-md"></div>
                        </md-card-title-media>
                    </md-card-title>

                    <md-card-content>
                        <p>{{trip.price}}</p>
                    </md-card-content>


                </md-card>

            </div>
        </md-grid-tile>
    </md-grid-list>


<!--<md-list>

    <md-list-item ng-click="$ctrl.details(trip)"  ng-repeat="trip in $ctrl.trips">
        <md-icon><ng-md-icon icon="insert_drive_file"></ng-md-icon></md-icon>

        <p> {{trip.title}} </p>

        <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit(trip)" >
            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
        </md-button>

        <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete(trip)" >
            <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
        </md-button>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-divider></md-divider>

</md-list>-->

