<div class="container">
    <h1 class="col-8">{{ $ctrl.trip.title }}</h1>
    <div class="col-4">
        <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
        </md-button>

        <md-button ng-if="$ctrl.isAuthenticated()" class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
            <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
        </md-button>
    </div>
</div>

<div class="container">
    <div class="col-8">
        <view-carousel></view-carousel>
    </div>
    <div class="col-4 hero-box">
        <p>{{ $ctrl.trip.price }} per person</p>
        <p>{{ $ctrl.trip.startdate }}</p>
        {{ console.log($ctrl.trip.startdate) }}
        <p>{{ $ctrl.trip.difficulty }} </p>
        <button ng-click="$ctrl.openWindow(300, 300, 'google.com')" class="btn btn-primary">Book now</button>
    </div>
</div>

<div>
    <p>{{$ctrl.trip.description}}</p>
    <p>{{$ctrl.trip.location}}</p>
</div>