<div class="container">
    <div class="col-8">
        <h1 >{{ $ctrl.trip.title }}</h1>
    </div>
    <div class="col-4">
        <md-button class="mod-buttons" ng-if="$ctrl.isAuthenticated()" class="md-icon-button" aria-label="Edit Item" ng-click="$ctrl.edit()" >
            <md-icon><ng-md-icon icon="mode_edit"></ng-md-icon></md-icon>
        </md-button>

        <md-button class="mod-buttons" ng-if="$ctrl.isAuthenticated()" class="md-icon-button"aria-label="Delete Item" ng-click="$ctrl.delete()" >
            <md-icon><ng-md-icon icon="delete" ></ng-md-icon></md-icon>
        </md-button>
    </div>
</div>

<div class="container">
    <div class="col-8">
        <div>
            <img class="tripSlides" src="{{$ctrl.trip.imagePath1}}">
            <img class="tripSlides" src="{{$ctrl.trip.imagePath2}}">
            <img class="tripSlides" src="{{$ctrl.trip.imagePath3}}">
        </div>
        <div class="container">
            <button class="sliderButton" ng-click="$ctrl.previousSlide()"><</button>
            <button class="sliderButton" ng-click="$ctrl.nextSlide()">></button>
        </div>
    </div>
    <div class="col-4 hero-box">
        <p>{{ $ctrl.trip.price }}€ per person</p>
        <p>{{ $ctrl.trip.date }}</p>
        {{ console.log($ctrl.trip.date) }}
        <p>{{ $ctrl.trip.difficulty }} </p>
        <!-- Open The Modal -->
        <button ng-click="$ctrl.openPaymentBox()" class="btn btn-primary">Book now</button>
    </div>
</div>



<button class="tabButton" ng-click="$ctrl.openOverview()">Overview</button>
<button class="tabButton" ng-click="$ctrl.openGuide()">Guide</button>
<button class="tabButton" ng-click="$ctrl.openLocation()">Location</button>
<button class="tabButton" ng-click="$ctrl.openQuestions()">Questions</button>

<div id="tabs">
    <div ng-if="$ctrl.tabState == 0">
        <p>{{$ctrl.trip.description}}</p>
    </div>

    <div ng-if="$ctrl.tabState == 1">
        <p>Created by {{$ctrl.trip.creator}}</p>
    </div>

    <div ng-if="$ctrl.tabState == 2" map-lazy-load="https://maps.google.com/maps/api/js">
        <p>{{$ctrl.trip.location}}</p>
        <ng-map center="[{{$ctrl.trip.lat}}, {{$ctrl.trip.lon}}]" zoom="10">
            <marker position="[{{$ctrl.trip.lat}}, {{$ctrl.trip.lon}}]" title={{$ctrl.trip.location}}></marker>
        </ng-map>
    </div>

    <div ng-if="$ctrl.tabState == 3">
        <h1>Questions</h1>
        <div class="col-12 hero-box">
            <ul ng-repeat="question in $ctrl.questions">
                <li>
                    <p>{{question.questioner.firstname}} {{question.questioner.lastname}}</p>
                    <p>{{question.content}}</p>
                    <div ng-if="question.answer">
                        <p ng-style="{'margin-left' : '2em'}">{{$ctrl.trip.creator}}</p>
                        <p ng-style="{'margin-left' : '2em'}">{{question.answer}}</p>
                    </div>
                    <button ng-if="$ctrl.isTripCreator() && $ctrl.questionReplyingID != question._id && !question.answer" ng-click="$ctrl.typeAnswerToQuestion(question._id)">Reply</button>
                    <form ng-submit="$ctrl.postAnswer()" autocomplete="off" ng-if="$ctrl.questionReplyingID == question._id">
                        <md-input-container>
                            <input ng-model="$ctrl.answer" type="text" placeholder="Type a reply ...">
                        </md-input-container>
                    </form>
                </li>
            </ul>

            <form ng-submit="$ctrl.postQuestion()" autocomplete="off" ng-if="!$ctrl.isTripCreator()">
                <md-input-container>
                    <input ng-model="$ctrl.question.content" type="text" placeholder="Ask a question ...">
                </md-input-container>
            </form>
        </div>
    </div>
</div>

<!-- Payment Box -->
<div id="paymentBox" class="modal">

    <div class="modal-content">
        <button ng-click="$ctrl.closePaymentBox()">&times;</button>
        <div layout="column">
            <md-content>
                <form>
                    <div>
                        <md-input-container layout="row" flex layout-padding>
                            <div flex="30">First Name:</div>
                            <input type="text" ng-model="$ctrl.booking.cardFirstName" flex>
                        </md-input-container>
                        <md-input-container layout="row" flex layout-padding>
                            <div flex="30">Last Name:</div>
                            <input type="text" ng-model="$ctrl.booking.cardLastName" flex>
                        </md-input-container>
                        <md-input-container class="create_trip" layout="row" flex="33" layout-padding>
                            <div flex="80">Card Type:</div>
                            <div flex>
                                <md-select id="date" name="type" ng-model="$ctrl.booking.cardType">
                                    <md-option value="Visa">Visa</md-option>
                                    <md-option value="American Express">American Express</md-option>
                                </md-select>
                            </div>
                        </md-input-container>
                        <md-input-container layout="row" flex layout-padding>
                            <div flex="30">Credit Card Number:</div>
                            <input type="text" ng-model="$ctrl.booking.cardNumber" flex>
                        </md-input-container>
                        <md-input-container layout="row" flex layout-padding>
                            <div flex="30">Approval Number:</div>
                            <input type="text" ng-model="$ctrl.booking.cardApprovalNumber" flex>
                        </md-input-container>
                        <p>Valid Until:</p>
                        <md-input-container class="create_trip" layout="row" flex="33" layout-padding>
                            <div flex="40">Month:</div>
                            <div flex>
                                <md-select id="date" name="type" ng-model="$ctrl.booking.cardValidUntilMonth">
                                    <md-option value="1">1</md-option>
                                    <md-option value="2">2</md-option>
                                </md-select>
                            </div>
                        </md-input-container>
                        <md-input-container class="create_trip" layout="row" flex="33" layout-padding>
                            <div flex="40">Year:</div>
                            <div flex>
                                <md-select id="date" name="type" ng-model="$ctrl.booking.cardValidUntilYear">
                                    <md-option value="2018">2018</md-option>
                                    <md-option value="2019">2019</md-option>
                                </md-select>
                            </div>
                        </md-input-container>
                    </div>
                </form>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.saveBooking()">Confirm</md-button>
                    <md-button class="md-raised" ng-click="$ctrl.closePaymentBox()">Cancel</md-button>
                </div>
            </md-content>

        </div>

    </div>

</div>

<!-- Success Box -->

<div id="successBox" class="modal">
    <div class="modal-content">
        <button ng-click="$ctrl.closeSuccessBox()">&times;</button>
        <div layout="column">
            <md-content>
                <div layout="row">
                    <p>Booking successful!</p>
                </div>
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-raised md-primary" ng-click="$ctrl.closeSuccessBox()">Done</md-button>
                </div>
            </md-content>
        </div>
    </div>
</div>