<div layout="column" layout-padding>
    <md-content class="md-no-momentum">
        <h1> {{$ctrl.trip.title}} </h1>
        <br/>
        <form name="tripForm">
            <md-input-container class="md-icon-float md-block">
                <label>Trip Title</label>
                <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.trip.title" type="text">
            </md-input-container>
            <div>
                <label>Date:</label>
                    <md-datepicker ng-model="birthday">
                     <input ng-model="$ctrl.trip.startdate" type="text">
                    </md-datepicker>
            </div>
            <md-input-container class="md-icon-float md-block">
                <label>Time</label>
                <md-icon><ng-md-icon icon="access_time" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.trip.starttime" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Price</label>
                <md-icon><ng-md-icon icon="attach_money" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.trip.price" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Location</label>
                <md-icon><ng-md-icon icon="add_location" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.trip.location" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Difficulty</label>
                <md-icon><ng-md-icon icon="flash_on" ></ng-md-icon></md-icon>
                <input ng-model="$ctrl.trip.difficulty" type="text">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Description</label>
                <textarea ng-model="$ctrl.trip.description" md-maxlength="1000" rows="8" md-select-on-focus></textarea>
            </md-input-container>
            <div layout="row">
                <span flex></span>
                <md-button class="md-raised md-primary" type="submit" ng-click="$ctrl.save()">Save</md-button>
                <md-button class="md-raised" ng-click="$ctrl.cancel()">Cancel</md-button>
            </div>

        </form>
    </md-content>

</div>