<div layout="column" layout-padding="">
    <md-content class="createtrip-form" layout="row" layout-align="center center">
        <md-card flex="100" >
            <md-card-content>
                <form name="TripForm">
                    <h1 align ="center"> {{$ctrl.trip.title}} </h1>
                    <br/>
                    <md-input-container class="md-block">
                        <md-icon><ng-md-icon icon="title" ></ng-md-icon></md-icon>
                        <label>Title:</label>
                        <input type="text" ng-model="$ctrl.trip.title" flex placeholder="Enter short title of your trip" md-maxlength="30" required=""/>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <md-icon><ng-md-icon icon="location_on" ></ng-md-icon></md-icon>
                        <label>Location:</label>
                        <input type="text" places-auto-complete on-place-changed ="$ctrl.placeChanged()" flex placeholder="Enter location" required=""/>
                    </md-input-container>
                    <div layout="row">
                        <div flex="33">
                            <md-input-container class="md-block">
                                <label>Date:</label>
                                <md-datepicker ng-model="$ctrl.trip.startdate" date-only required=""></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block">
                        </div>
                        <div flex="33">
                            <md-input-container class="md-block">
                                <label>From:</label>
                                <input ng-model="$ctrl.trip.starttime" type="text" required="" />
                                <md-input-container class="md-block">
                        </div>
                        <div flex="33">
                            <md-input-container class="md-block">
                                <label>To:</label>
                                <input ng-model="$ctrl.trip.endtime" type="text" required="" />
                                <md-input-container class="md-block">
                        </div>
                    </div>
                    <div layout="row" layout-fill layout-margin layout-align="start center">
                        <div flex="30">
                            <md-input-container class="md-block">
                                <label>Price (in €):</label>
                                <input ng-model="$ctrl.trip.price" type="number" required="">
                        </div>
                        <div flex="20">
                        </div>
                        <div flex="35">
                            <md-input-container class="md-block">
                                <md-select id="date" name="type" ng-model="$ctrl.trip.difficulty" placeholder="Please select level of difficulty">
                                    <md-option value="grad1"><i class="fa fa-bolt"></i></md-option>
                                    <md-option value="grad2"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                                    <md-option value="grad3"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                                    <md-option value="grad4"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                                    <md-option value="grad5"><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i><i class="fa fa-bolt"></i></md-option>
                                </md-select>
                        </div>
                    </div>
                    <md-input-container class="md-block">
                        <md-icon><ng-md-icon icon="description" ></ng-md-icon></md-icon>
                        <label>Description</label>
                        <textarea ng-model="$ctrl.trip.description" md-maxlength="1000" rows="5" md-select-on-focus required=""></textarea>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <div>Photos: (3 pictures are required)</div>
                        <div layout="row">
                            <img id="image1" width="100" height="100" ng-if="$ctrl.$scope.profileImage.photo1"/>
                            <img id="image2" width="100" height="100" ng-if="$ctrl.$scope.profileImage.photo2"/>
                            <img id="image3" width="100" height="100" ng-if="$ctrl.$scope.profileImage.photo3"/>
                            <div layout="column">
                                <input type="file" id="imageUpload1" aria-label="image-upload-create" name="photo" file-model="profileImage.photo1" ng-if="!$ctrl.$scope.profileImage.photo1"/>
                                <input type="file" id="imageUpload2" aria-label="image-upload-create" name="photo" file-model="profileImage.photo2" ng-if="$ctrl.$scope.profileImage.photo1 && !$ctrl.$scope.profileImage.photo2"/>
                                <input type="file" id="imageUpload3" aria-label="image-upload-create" name="photo" file-model="profileImage.photo3" ng-if="$ctrl.$scope.profileImage.photo2"/>
                            </div>
                            <span flex></span>
                        </div>
                    </md-input-container>
                    <div>
                        <button class="my-button" type="submit" ng-click="$ctrl.save()">Create Tour</button>
                        <button class="cancel-button" ng-click="$ctrl.cancel()">Cancel</button>
                    </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>