<!--<ul rn-carousel class="image">-->
    <!--<li>-->
        <!--<div layout-align="center center">-->
            <!--<img class="slider" src="slider_1.jpg">-->
        <!--</div>-->
    <!--</li>-->

    <!--<li>-->
        <!--<div layout-align="center center">-->
            <!--<img class="slider" src="slider_2.jpg">-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->

<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img class="slider" src="Slider_1.png">
        </div>
        <div class="swiper-slide">
            <img class="slider" src="Slider_2.png">
        </div>
        <div class="swiper-slide">
            <img class="slider" src="Slider_3.png">
        </div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>

<!--<br><br>
<div layout="row" layout-align="center center">
    <img class="search_bar" src="SearchBar.png" layout-align="center center">
</div>-->

<md-content layout-padding>
    <div layout-align="center center">
        <form name="searchForm">
            <div layout-gt-xs="row">
                <span>&emsp;</span>
                <span>&emsp;</span>
                <span>&emsp;</span>
                <md-input-container>
                    <input type="text" name="location" placeholder="Where?" size="4"/>
                </md-input-container>
                <md-input-container>
                    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <span>&emsp;</span>
                <md-input-container>
                    <input type="text" name="location" placeholder="Price Min" size="4"/>
                </md-input-container>
                <span>&emsp;</span>
                <md-input-container>
                    <input type="text" name="location" placeholder="Price Max" size="4"/>
                </md-input-container>
                <span>&emsp;</span>
                <md-input-container>
                    <md-select name="type" ng-model="project.type" placeholder="Difficulty">
                        <md-option value="grad1">*</md-option>
                        <md-option value="grad2">**</md-option>
                        <md-option value="grad3">***</md-option>
                        <md-option value="grad4">****</md-option>
                        <md-option value="grad5">****</md-option>
                    </md-select>
                </md-input-container>
                <span>&emsp;</span>
                <md-button id="test" class="md-raised md-primary">Search</md-button>
            </div>
        </form>
    </div>
</md-content>
