img.slider {
    height: 100%;
    width: 100%;
    /*max-width: 800px;*/
}

/*img.search_bar {
    max-width: 90%;
}*/
.md-button{
    margin-top: 17px;
    height: 30px;
    width: 30px;
}
/*img.search_bar {
    max-width: 90%;
}*/
#search{
    max-width: 90%;
}