.test:before,
.test:after {
    transform: translateX(-50%);
    position: absolute;
    background: #000;
    content: '';
    width: 50px; /* change width to increase or decrease border */
    height: 1px;
    left: 50%;
    top: 0;
}

.test:after {
    top: auto;
    bottom: 0;
}