<md-card ng-style="{'background-color' : 'transparent'}">
    <md-card-content ng-style="{'height' : '50px' , 'text-align' : 'center'}">
        <div layout-gt-xs="row" id="search" ng-style="{'display': 'inline-block'}">
            <md-input-container flex="10">
                <input type="text" ng-model="$ctrl.search.location" placeholder="Where?"/>
            </md-input-container>
            <md-input-container>
                <md-datepicker ng-model="$ctrl.search.startdate" md-placeholder="Enter date"></md-datepicker>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <input type="text" name="location" placeholder="Price Min"/>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <input type="text" name="location" placeholder="Price Max"/>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="15">
                <md-select id="date" name="type" ng-model="$ctrl.search.difficulty" placeholder="Difficulty" layout-align="center center">
                    <md-option value="grad1">*</md-option>
                    <md-option value="grad2">**</md-option>
                    <md-option value="grad3">***</md-option>
                    <md-option value="grad4">****</md-option>
                    <md-option value="grad5">*****</md-option>
                </md-select>
            </md-input-container>
            <span>&emsp;</span>
            <md-input-container flex="10">
                <md-button id="test" class="md-raised md-primary" layout-align="center center" ng-click="$ctrl.search()">Search</md-button>
            </md-input-container>
        </div>
    </md-card-content>
</md-card>

