<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-padding>


        <div flex="33"></div>

        <div flex="33" layout-align="center center" layout="row">
            <img class="png-icon" src="HikeHeroLogo.png" ng-click="$ctrl.goHome($event)">
        </div>

        <div flex>
            <section layout="row" layout-align="end center" layout-wrap>
                <md-button ng-click="$ctrl.create_tour($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="create" ></ng-md-icon></md-icon>
                    Create Tour
                </md-button>

                <md-button ng-click="$ctrl.signup($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
                    Sign Up
                </md-button>

                <md-button ng-click="$ctrl.login($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
                        Login
                </md-button>

            </section>

        </div>

    </div>
</md-toolbar>