<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-padding>


        <div flex="33"></div>

        <div flex="33" layout-align="center center" layout="row">
            <img class="header" src="HikeHeroLogo.png" ng-click="$ctrl.goHome($event)">
        </div>

        <div flex>
            <section layout="row" layout-align="end center" layout-wrap>
                <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.create_tour($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="create" ></ng-md-icon></md-icon>
                    Create Tour
                </md-button>
                <md-button ng-click="$ctrl.goTrips($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="view_list" ></ng-md-icon></md-icon>
                    All tours
                </md-button>
                <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.signup($event)" >
                    <md-icon md-menu-align-target><ng-md-icon icon="note_add" ></ng-md-icon></md-icon>
                     Sign Up
                 </md-button>

                 <md-button ng-if="!$ctrl.isAuthenticated()" ng-click="$ctrl.login($event)" >
                     <md-icon md-menu-align-target><ng-md-icon icon="login" ></ng-md-icon></md-icon>
                         Login
                 </md-button>
                 <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.goTrips($event)">
                     <md-icon md-menu-align-target><ng-md-icon icon="account_circle" ></ng-md-icon></md-icon>
                      {{$ctrl.getCurrentUser()}}
                  </md-button>
                  <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout($event)">
                      <md-icon md-menu-align-target><ng-md-icon icon="logout" ></ng-md-icon></md-icon>
                      Logout
              </md-button>

          </section>

      </div>

  </div>
</md-toolbar>