.md-button {
    text-transform: none;
    font-weight: normal;
    color: black;
    font-size: 1em;
}

app-header > md-toolbar, app-header > md-toolbar > .md-toolbar-tools{
    min-height: 100px;
}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    color: #ffffff;
    background: #ffffff;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: transparent;
}

img.header {
    height: 100px;
    width: 100px;
}